// 🍑 Pink Pomelo Theme
$color-main: #FFE2DC;       // 연핑크
$color-accent: #FFB3AB;     // 포멜로 속살 핑크
$color-text: #5C2F2F;       // 짙은 브라운 레드
$color-background: #FFF7F5; // 밝은 핑크 배경

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .movieCard {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 50px;
        background-color: $color-background;
    
        .card {
            width: 250px;
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        
        .img {
            width: 100%;
            max-width: 350px; // ✅ 이미지 최대 너비 제한
            height: auto;
            aspect-ratio: 2 / 3; // 세로 비율 유지
            object-fit: cover;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }
        
        .title {
            margin-top: 10px;
            font-size: 1.2rem;
            text-align: center;
        }
        
        .vote {
            font-size: 0.9rem;
            text-align: center;
            color: #777;
        }
    }
}


